services:
  shopservice.api:
    image: shopservice.api
    build:
      context: .
      dockerfile: ShopService.Api/Dockerfile
    ports:
      - "8086:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend
  
  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_processor:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d db" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    networks:
      - backend
  
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
       - "3000:3000"
    restart: always

volumes:
  postgres_data_processor:

networks:
  backend: 